<div class="row">
  <div class="two columns">
  	{% if page.layout == 'special' %}
    <a href="/"><img src="/images/logo_typo_special.png"></a>
  	{% else %}
    <a href="/"><img src="/images/logo_typo.png"></a>
  	{% endif %}
  </div>
  <div class="ten columns navigation right">

  	{% if page.layout == 'special' %}
  		{% for item in page.menu %}
  			<a href="#{{item[1]}}">{{ item[0] }}</a>
  		{% endfor %}
  	{% else %}
      {% assign sorted_pages = site.pages | sort:"order" %}{% for node in sorted_pages %}{% if node.layout contains 'page' %}{% if node.hidden %}{% else %}<a {% if page.url == node.url %}class="active"{% endif %} href="{{node.url}}">{{node.title}}</a>
      {% endif %}{% endif %}{% endfor %}
        <a href="/isw.html" style="color: #009999;">ISW</a>
    {% endif %}


   </div>
</div>
