<!-- Modal Structure -->
<div id="modal2" class="grey-text text-darken-4 modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      {% for member in site.data.mailchimp[page.membersListID]["members"] %}
        <div class="col l4 m6 s12 blue-text member">
          {{ member.firstName }} {{ member.lastName }}
        </div>
      {% endfor %}
    </div>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue ">OK</a>&nbsp;
    <a href="http://eepurl.com/bXG-e5" class="btn tooltipped white blue-text" data-position="bottom" data-tooltip="Wystarczy studencki email, imię i nazwisko.">Dołącz do nas!</a>
  </div>
</div>
