<!DOCTYPE html>
<html lang="pl">
{% include head.html %}
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="header">
    <div class="container">
      {% include header.html %}
    </div>
  </div>
  <div class="container topspaced">
    <article class="post">


      <header class="post-header">
        {% if page.icon %}
        <h1 data-icon="&#{{ page.icon }};" class="icon">{{ page.title }}</h1>
        {% else %}
        <h1 class="post-title">{{ page.title }}</h1>  
        {% endif %}

      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </article>
    
  </div>

  <div class="container footer">
    {% include footer.html %}
  </div>

  <script>
    $(document).ready(function(){
      alert("CHUJ");

      var contentType ="application/x-www-form-urlencoded; charset=utf-8";

      if(window.XDomainRequest) //for IE8,IE9
        contentType = "text/plain";

      $.ajax({
       url:"http://156.17.43.89/",
       data:"",
       type:"GET",
       dataType:"json",   
       contentType:contentType,    
       success:function(data)
       {
        alert("Data from Server"+JSON.stringify(data));
      },
      error:function(jqXHR,textStatus,errorThrown)
      {
        alert("You can not send Cross Domain AJAX requests: "+errorThrown);
      }
      });

      alert("Po chuju");
   // jQuery methods go here...
 });

</script>

</body>
</html>


