---
layout: default
---

<div class="pageHeader white {{page.color}}-text">
  <div class="container">
  <a href="/"><div class="{{page.color}} sisklines"></div></a>
    <h1 class=" ">{{ page.title }}</h1>
    {% if page.subtitle %}
      <h5 class=" ">{{ page.subtitle }}</h4>
    {% endif %}
    {% if page.overdate %}
      <h5 class="  {{page.color}}-text text-lighten-4"> {{ page.overdate }}</h5>
    {% else %}
      <h5 class="  {{page.color}}-text text-lighten-4"> {{ page.date | date: '%B %d, %Y' }}</h5>
    {% endif %}
    <p class="flow-text   {{page.color}}-text text-lighten-2">{{ page.description }}</p>

    <br><br>

    <!-- <div class="row">
      <a href="6th_ISW_INFO_FINAL.pdf">
      <div class="col s4 left bottomspaced center-align">
        <i class="large material-icons">assignment_late</i>
        <p class="flow-text">
          <strong>ISW info</strong>
        </p>
      </div>
      </a>
      <a href="6th_ISW_sessions_FINAL.pdf">
      <div class="col s4 left bottomspaced  center-align">
        <i class="large material-icons">assignment_returned</i>
        <p class="flow-text">
          <strong>ISW sessions</strong>
        </p>
      </div>
      </a>
      <a href="6th_ISW_abstracts_FINAL.pdf">
      <div class="col s4 left bottomspaced center-align">
        <i class="large material-icons">assignment_turned_in</i>
        <p class="flow-text">
          <strong>ISW abstracts</strong>
        </p>
      </div>
      </a>
    </div> -->
  </div>


</div>

<div class="container white-text postContainer">
  {{content}}
</div>

{% include fejsik.html %}
{% include footer.html %}
